<div class="container">

  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h1>Foundation Proof of Concept</h1>
        <p>This is an example of a panel. It lives inside a row->columns</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns">

      <h2>Example of block grid</h2>

      <div class="small-block-grid-2 large-block-grid-3">
        <li ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
          <div class="th">
            <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            <div class="caption">
              <h3>{{ awesomeThing.title }}</h3>
              <p>{{ awesomeThing.description }}</p>
              <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
            </div>
          </div>
        </li>
      </div>

      <h2>Example of row collapse

      <div class="row collapse">
        <div class="small-6 large-4 columns" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
          <div class="th">
            <img class="right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
            <div class="caption">
              <h3>{{ awesomeThing.title }}</h3>
              <p>{{ awesomeThing.description }}</p>
              <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
